/.build-vm/
/.build-stamp
/.qemu-uefi-vars.fd
/.qemu-direct-boot/
/.stage/
/binary/
/build.log
/cache/
/chroot/
/chroot.files
/chroot.packages.install
/chroot.packages.live
/config/binary
/config/bootstrap
/config/chroot
/config/common
/config/source
/live-image-*.contents
/live-image-*.files
/live-image-*.hybrid.iso
/live-image-*.hybrid.iso.sha256
/live-image-*.packages
/live-image-*-source.*.tar
/live-image-*-source.*.tar.part-*
/live-image-*.sources.sha256
/local/
/reboot-test-disk.qcow2
/config/includes.chroot/opt/reboot/app/
/config/includes.chroot/usr/share/doc/reboot/
