[Desktop Entry]
Type=Application
Name=Terminal
Comment=Open a development terminal
Exec=qterminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
